body{
    background: black;
    color:white
}
.top{
   
    display: flex;
    justify-content: center;
}
.main{
   
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 15px;
    margin:1px
}

.bios{
    background: white;
    color:black;
    height:240px;
    margin-bottom: 20px;
    margin-right: 20px;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 7px solid rgb(176, 174, 174);

    
}

.bottom{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.customers{
    background: white;
    color:black;
    height:240px;
    margin-bottom: 20px;
    margin-right: 20px;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 7px solid rgb(176, 174, 174);

}

.base{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}